<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PairRandomizerSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7693C09E1BBEE9D5009FBF6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7693C0B21BBEE9D6009FBF6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7693C0BD1BBEE9D6009FBF6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
